/* navbar.css */

.navbar {
    margin-top: 2vh;
    height: 6.6vh;
    position: sticky;
    top: 12px;
    left: 0;
    right: 0; /* Adjusting left and right to center the navbar horizontally */
    margin: 0 auto; /* To center the navbar horizontally */
    width: 18%;
    border-radius: 35px;
    background: rgba(255, 255, 255, 0.2); /* Blurry transparent background */
    backdrop-filter: blur(15px); /* Add blur effect for modern browsers */
    display: flex;
    justify-content: center;
    z-index: 2;
  }

  .navbar:hover{
    cursor: pointer;
  }
  
  .header-buttons {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    width: 100%;
  }
  
  /* Common styles for all buttons */
  .button-common {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    color: rgb(0, 0, 0);
    border-radius: 50px; /* To create oval shape */
    cursor: pointer;
    width: 95px;

  }
  
  /* Style for buttons when not hovered */
  .button-common:not(:hover) {
    background: rgba(255, 255, 255, 0.2); /* Blurry transparent background */
  }
  
  /* Style for buttons when hovered */
  .button-common:hover {
    background: rgb(0, 0, 0 ,0.1 );
    color: rgb(0, 0, 0);
    transition: 0.4s; /* Change text color when hovered */
  }

  @media only screen and (max-width: 768px) {
    .navbar {
      
      background-color: rgba(252, 252, 252, 0.41);
      width: 220px; /* Adjust the width for 768px and smaller screens */
      backdrop-filter: blur(5px); /* Reduce blur for mobile devices */
    }
  
    .button-common {
      width: 70px; /* Adjust button width for mobile devices */
      font-size: 14px;
      color: rgb(0, 0, 0); /* Adjust font size for mobile devices */
    }
  }
  